# Configuration du serveur local
PORT=3001

# Base de données (Remplacer par l'URL fournie par Railway)
DATABASE_URL=postgresql://utilisateur:mot_de_passe@hote:port/nom_de_la_base

# Sécurité (Générer une clé aléatoire avec Node.js ou OpenSSL)
JWT_SECRET=inserer_votre_secret_jwt_ici